<div class="panel panel-default">
    <div class="panel-heading">
      <h3>Add New Contact</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-8 col-md-offset-2">
        <form name="form" ng-submit="addUserContact()" role="form" novalidate>
          <div class="form-group">
            <div class="form-group">
              <label for="fname" class="control-label pull-left">First Name</label>
              <input type="text" class="form-control" id="fname" name="name" placeholder="First Name" ng-model="addUserObj.name.first">
              <label for="lname" class="control-label pull-left">Last Name</label>
              <input type="text" class="form-control" id="lname" name="name" placeholder="Last Name" ng-model="addUserObj.name.last">
              <label for="email" class="control-label pull-left">Email</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Email" ng-model="addUserObj.email">
              <label for="phone" class="control-label pull-left">Phone</label>
              <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" ng-model="addUserObj.phone">
              <label for="cell" class="control-label pull-left">Phone</label>
              <input type="text" class="form-control" id="cell" name="cell" placeholder="Cell" ng-model="addUserObj.cell">
            </div>
            <button type="submit" class="btn btn-danger pull-right">Add Contact</button>
          </div>
        </form>
      </div>
    </div>
</div>
