<div class="container-fluid">
  <h1> Contacts
  <button class="btn btn-default navbar-right" ng-click="reloadPage()">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></button></h1>
</div>
