<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script>
      var app = angular.module('app', []);
      app.controller('UserController', ['$scope','$http', '$window' , function($scope, $http, $window) {
        $scope.addUserObj = {};
        $scope.userObj = {};
        $http({
          method: 'GET',
          url: '/users'
        }).then(function (response) {
          $scope.users = response.data;
          $scope.usersLoaded = true;
          $scope.showUsers = true;
          $scope.showAddUserForm = false;
        }, function (error) {
          $scope.errorUsers = "Error Loading Contacts:" + error;
          $scope.usersLoaded = false;
        });

        $scope.viewUser = function (userid) {
          $http({
            method: 'GET',
            url: '/users/'+ userid
          }).then(function (response) {
            $scope.userObj = response.data;
            $scope.userLoaded = true;
            $scope.showUsers = false;
            $scope.showUser = true;
            $scope.errorUser = false;
            $scope.showAddUserForm = false;
          }, function (error) {
            $scope.errorUser = "Error Loading Contacts:" + error;
            $scope.userLoaded = false;
          });
        };

        $scope.addUserForm = function () {
          $scope.showUsers = false;
          $scope.showUser = false;
          $scope.showAddUserForm = true;
        };

        $scope.editUserForm = function () {
          $scope.showUsers = false;
          $scope.showUser = false;
          $scope.showAddUserForm = false;
          $scope.showEditUserForm = true;
        };

        $scope.reloadPage = function () {
          $window.location.reload();
        };

        $scope.addUserContact = function () {
          $scope.showAddUserForm = false;
          var userDetails = JSON.stringify($scope.addUserObj);
          $http({
            method: 'POST',
            url: '/users/user',
            headers: {
              'Content-Type': 'application/json'
            },
            data: userDetails
          }).then(function (response) {
            console.log(response);
            $window.location.reload();
          }, function (error) {
            $scope.errorUser = "Error Loading Contacts:" + error;
          });
        };

        $scope.editUserContact = function () {
          $scope.showEditUserForm = false;
          var userid = $scope.userObj._id;
          var userDetails = JSON.stringify($scope.userObj);
          $http({
            method: 'PUT',
            url: '/users/'+ userid,
            headers: {
              'Content-Type': 'application/json'
            },
            data: userDetails
          }).then(function (response) {
            console.log(response);
            $window.location.reload();
          }, function (error) {
            $scope.errorUser = "Error Editing Contacts:" + error;
          });
        };

        $scope.deleteUser = function (userid) {
          $http({
            method: 'DELETE',
            url: '/users/'+ userid
          }).then(function (response) {
            console.log(response);
            $window.location.reload();
          }, function (error) {
            $scope.errorDel = "Error Deleting Contact:" + error;
          });
        };

      }]);
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <% include header.ejs %>
  </head>
  <body ng-controller="UserController">
    <div>
      <div ng-show="!errorUsers && usersLoaded && showUsers">
        <% include users.ejs %>
      </div>
      <div ng-show="!errorUser && userLoaded && showUser">
        <% include viewuser.ejs %>
      </div>
      <div ng-show="showAddUserForm">
        <% include adduser.ejs %>
      </div>
      <div ng-show="showEditUserForm">
        <% include edituser.ejs %>
      </div>
    </div>
  </body>
</html>
