<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script>
      var app = angular.module('app', ['ngCookies']);
      app.controller('UserController', ['$scope','$http', '$cookies' , function($scope, $http, $cookies) {
        $scope.addUserObj = {};
        $http({
          method: 'GET',
          url: '/users'
        }).then(function (response) {
          $scope.users = response.data;
          $scope.usersLoaded = true;
          $scope.showUsers = true;
        }, function (error) {
          $scope.errorUsers = "Error Loading Contacts:" + error;
          $scope.usersLoaded = false;
        });

        $scope.viewUser = function (userid) {
          $http({
            method: 'GET',
            url: '/users/'+ userid
          }).then(function (response) {
            $scope.userObj = response.data;
            $scope.userLoaded = true;
            $scope.showUsers = false;
            $scope.showUser = true;
            $scope.errorUser = false;
          }, function (error) {
            $scope.errorUser = "Error Loading Contacts:" + error;
            $scope.userLoaded = false;
          });
          //$cookies.put("userid", userid);
          //$location.path('/viewuser')
        };

        $scope.addUser = function () {
          $scope.showUsers = false;
          $scope.showUser = false;
          $scope.showAddUserForm = true;
        };

        $scope.addUserContact = function () {
          $scope.showUsers = false;
          $scope.showUser = false;
          $scope.showAddUserForm = false;
          var userDetails = JSON.stringify($scope.addUserObj);
          $http({
            method: 'POST',
            url: '/users/user',
            headers: {
              'Content-Type': 'application/json'
            },
            data: userDetails
          }).then(function (response) {
            console.log(response);
          }, function (error) {
            $scope.errorUser = "Error Loading Contacts:" + error;
            $scope.userLoaded = false;
          });
        };

      }]);
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <% include header.ejs %>
  </head>
  <body ng-controller="UserController">
    <div ng-show="!errorUsers && usersLoaded && showUsers">
      <% include users.ejs %>
    </div>
    <div ng-show="!errorUser && userLoaded">
      <% include viewuser.ejs %>
    </div>
    <div ng-show="showAddUserForm">
      <% include adduser.ejs %>
    </div>
  </body>
</html>
